<!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
      <div class="site-header__start">
        <a class="brand">Trade Filter</a>
      </div>
      <div class="site-header__middle">
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button" (click)="onClickToggle()">
            menu <span class="list"></span>
          </button>
          <ul class="nav__wrapper">
            <li class="nav__item"><a>Home</a></li>
            <li class="nav__item"><a>About</a></li>
            <li class="nav__item"><a>Services</a></li>
            <li class="nav__item"><a>Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="site-header__end">
        <a>Sign in</a>
      </div>
    </div>
  </header>
  <!-- Header End -->